.tab-pane {
  -fx-tab-min-width:40px;
  -fx-tab-max-width:100px;
  -fx-tab-min-height:20px;
  -fx-tab-max-height:40px;
}

.tab {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
	-fx-border-width: 2px;
	-fx-border-color: #3B3738;
	-fx-background-color: #C63D0F;
}

.tab:selected {
    -fx-focus-color: transparent;
	-fx-background-color: #7E8F7C;
}

.toggle-button {
    -fx-border-radius: 0 0 0 0;
    -fx-focus-color: #3B3738;
    -fx-faint-focus-color: #3B3738;
    -fx-border-color: #3B3738;
}