.tab-pane {
    -fx-tab-min-width: 40px;
    -fx-tab-max-width: 100px;
    -fx-tab-min-height: 20px;
    -fx-tab-max-height: 40px;
}

.tab {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 2px;
    -fx-border-color: #3B3738;
    -fx-background-color: white;
}

.tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #C09F80;
}

.toggle-button {
    -fx-background-radius: 0px;
    -fx-faint-focus-color: #3B3738;
    -fx-border-color: #3B3738;
    -fx-background-color: #D7CEC7;
    -fx-background-insets: 1px;
    -fx-background-position: center;
    -fx-padding: 5 5 5 5;
}

.toggle-button:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #C09F80;
}

.image-view {
    -fx-padding: 10px;
}

#controlPanel {
    -fx-background-color: #D7CEC7;
    -fx-border-color: #C09F80;
    -fx-border-width: 0 0 1 0;
}

#statusBar {
    -fx-background-color: #D7CEC7;
    -fx-border-color: #C09F80;
    -fx-border-width: 1 0 0 0;
}

#materialPane, #cutPane {
    -fx-background-color: #D7CEC7;
    -fx-border-color: #C09F80;
    -fx-border-width: 0 1 0 0;
}

.tab-header-background {
    -fx-border-color: #3B3738;
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
}

#materialComboBox{
    -fx-background-radius: 0px;
    -fx-faint-focus-color: #3B3738;
    -fx-border-color: #3B3738;
    -fx-background-color: #D7CEC7;
    -fx-background-insets: 1px;
    -fx-background-position: center;
}

.combo-box-popup .list-view
{
    -fx-background-color: #3B3738, #D7CEC7;
    -fx-background-radius: 0px;
    -fx-border-radius: 0;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #D7CEC7;
}

.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color: #76323F;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-background-color: #C09F80;
}

#acceptMaterial {
    -fx-background-radius: 0px;
    -fx-faint-focus-color: #3B3738;
    -fx-border-color: #3B3738;
    -fx-background-color: #D7CEC7;
}

#acceptMaterial:hover {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #C09F80;
}

#76323F